[Desktop Entry]
Type=Application
Version=1.0
Name=Instalar nimbo
Name[en]=Install nimbo
Comment=Instala nimbo en el disco de este equipo
Comment[en]=Install nimbo to this computer's disk
Exec=nimbo-instalar
Icon=/etc/calamares/branding/nimbo/nimbo.png
Terminal=false
Categories=System;
